*{
    margin: auto;
    padding: auto;
}
body{
  background-color: #a2beec;
}
header{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    background-color: #1d70f5;
    color: white;
    padding: 1.5em;
    font-size: 1.3em;
}
/* The side navigation menu */
#sidebar {
    margin: 0;
    padding: 0em;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    height: 100%;
    overflow: auto;
    display: none;
  }
  
  /* Sidebar links */
#sidebar a {
    display: block;
    color: black;
    padding-bottom:1em ;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    
}
#sidebar p{
    margin-left: 8px;
}
.active p{
    color: #1d70f5; 
} 
  /* Links on mouse-over */
#sidebar a:hover:not(.active) {
    color: #1d70f5;
}
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    height: 1000px;
}
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}
#butClose{
  cursor: pointer;
  border: none;
  margin-top: 0.5em;
  margin-left: 11em;
  
}
#Apri{
  border: none;
  position: absolute;
  background-color: transparent;
  margin: 1em;
}
#Apri img{
  width: 4em;
}
#Apri:hover{
  cursor: pointer;

}
#menu{
  display: flex;
  justify-content: space-between;
  height: auto;
  
}
#menu > div{
  width: 50%;
  margin: 2em;
  height: 60em;
}
#child1{
  text-align: center;
  

}
#child2{
  text-align: center;
  
}
#child1 h2{
  font-size: 30px;

}#child2 h2{
  font-size: 30px;
}
#barraRicerca{
  background-color: azure;
  margin-top: .5em;
  width: 55%; 
  font-size: 22px;
  text-align: left;
}
#invia{
  border: solid blue;
  border-radius: 8px;
  background-color:#1d70f5;
  color:#f1f1f1;
  margin-left: 1em;
  padding: 0.3em 0.8em;
}
#invia:active{
  background-color: #a2beec;
  border-color:#1d70f5;
  color: black;
}
#ricerca{
  padding: .7em;
  border-bottom: .5px solid blue;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: azure;
  width: 40%;
  margin-left:2.5em;
  margin-top: 0.5em;
  font-size: 15px;
  /*AGGIUNGERE LENTE*/
}

#listaProf li{ /*OK SONO SEPARATI --> POI SI INSERISCE DAL DATABASE CON LE QUERY E SI CREA UN DIV PER OGNI ELEMENTO */
  padding: .6em;
  /*SARANNO ALTERNATI UNO CHIARO E UNO SCURO*/
}
ul{
  list-style-type: none;
}
/*INPUT FOCUS NO BORDER*/
li:first-child{
  margin-top: .5em;
}
#listaProf{
  background-color: azure;
  padding-top: 0.4em;  
  width: 55%; 
  font-size: 22px;
  overflow:auto;
  height: 100%;
  text-align: left;
}
/*COMPLETAMENTE DA VEDERE PER QUANTO RIGUARDA IL COLLEGAMENTO DA DATABASE*/
#orarioProf{
  background-color: azure;
  padding-top: 0.4em;  
  width: 100%; 
  margin-top: .5em;
  font-size: 22px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
}
.rows-0{
  grid-row-start: 1;
}
.rows-1{
  grid-row-start: 2;
}
.rows-2{
  grid-row-start: 3;
}
.rows-3{
  grid-row-start: 4;
}
.rows-4{
  grid-row-start: 5;
}
.rows-5{
  grid-row-start: 6;
}
.rows-6{
  grid-row-start: 7;
}
.rows-7{
  grid-row-start: 8;
}
.rows-8{
  grid-row-start: 9;
}
.rows-9{
  grid-row-start: 10;
}